<div class="media">
  <div class="media-body">
    <%= render partial: 'votes/voter', locals: { post: @post } %>
    <h4 class="media-heading">
      <%= link_to topic.name, topic %>
    </h4>
    <small>
      <%= topic.description %>
    </small>
  </div>
</div>
